<footer class="ui centered middle aligned stackable grid footer-admin">
    <div class="one wide column">
        <a href='http://ifc.edu.br'>
            <img class="ui image centered tiny" src="{{ base_url() }}static/images/logo-ifsc.png"
                 alt="Logo Instituto Federal Catarinense">
        </a>
    </div>
    <div class="eight wide column">
        <p class="ui center aligned basic segment">
            <span>Instituto Federal de Educação, Ciência e Tecnologia Catarinense</span><br>
            <span>Instituto Federal de Educação, Ciência e Tecnologia de Santa Catarina</span><br>
        </p>
    </div>
    <div class="one wide column">
        <a href='http://fabricadesoftware.ifc.edu.br'>
            <img class="ui image centered tiny" src="{{ base_url() }}static/images/logo-fabrica.png"
                 alt="Logo Fábrica de Software">
        </a>
    </div>
</footer>